In [ ]:
# #### ans -1 ****python is a programming language known for its simplicity , readabilty and versatility .it is also known as intepreted language .it is
#popular becuase it is easy to learn and use as it's syntax is english-like .it is also very versatile as it can be use for web development ,
#data science,machine learning, etc.
#-------------------------------------------------------------------
# ANS-2 ***python is an intepreted language which runs code line by line using an intepreter, rather than compiling whole program . it translates each
# line into machine code that  computer understands and executes it immediately.
#--------------------------------------------------------------------
# ANS- 3 *** pre- defined keywords are the some words which are already defined in python and has some meaning or purposes and  we cannot use it as
# identifier for variables and function .
#--------------------------------------------------------------------
#ANS-4*** No . it cannot used as variable's name
#--------------------------------------------------------------------
#ANS-5 *** mutability is a concept in which we can change the object's state or value after it is created . ex- list,etc.
#--------------------------------------------------------------------
#ANS-6 **** tuples are created in sequential values if we try to modifiy it then it's sequence will gets disturbed while in list , it is 
#  non-sequential that's why it's  modification is possible.
#--------------------------------------------------------------------
#ANS-7 ****  '==' operator is used to comapare two values or operands are equal or not while 'is' operator is used to checks if the identity(same 
# memory address) is same or not
#--------------------------------------------------------------------
#ANS-8 ****   logical operators combine conditional statements to return true or false . operators are AND(all condition should be true), OR(one or
 #all condtion can be true), NOT (condition should be not true)
#---------------------------------------------------------------------
# ANS-9 type casting is the process of converting the data types of variable into certain data types . it can be done implicitily and explictily.
#---------------------------------------------------------------------
#ANS-10 implicit type casting done by compiler automatically while  explicit type casting is done by programmer manually.
#-------------------------------------------------------------------------
#ANS-11 conditional statements control the flow of excecution and check whether the conditions are true or not .if condtions get satisfied then only 
#the block will execute.conditional statements are :- if ,else,elif,nested ...if and ternary operator.
#--------------------------------------------------------------------------
#ANS-12  elif satements is used when we need to put more than two conditions . the syntax of elif is:-
  #           if (condition) :
#                            print statement
#              elif(condition) :
#                               body
#               else :
#                        body
#---------------------------------------------------------------------------------------
#ANS-13 ****'FOR ' loop is  one line statement in which iterations are depend on

In [7]:
# PRACTICAL QUESTIONS ---ANS-1
print("hello world!")

hello world!

In [1]:
#ANS-2 ---displays name and age
name = "ANSHU SINGH"
age = 19
print(name ,age)

ANSHU SINGH 19

In [2]:
# ANS-3 all pre-defined keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
# ANS-4 word is python keyword or not
import keyword
word = input("enter a word")
if(word in keyword.kwlist):
 print("it is in keyword")
else:
    print("it is not in keyword")

enter a word pass

it is in keyword

In [20]:
#ANS-6 create list and tuple
list_as = [1,5,3,3.5,(9+8),"anshu"]
tuple_as = (1,2,3,4,5,6)
#list is mutable
list_as[5] = "atul"
list_as

[1, 5, 3, 3.5, 17, 'atul']

In [21]:
#tuple is immutable
tuple_as[2]
tuple_as[2]=9
#as tuple is immutable we got an error

TypeError: 'tuple' object does not support item assignment

In [22]:
# ANS-8 program for arithematic operations
num1= int(input("enter a number"))
num2=int(input("enter a number"))
#adiition
print ("sum =",num1+num2)
#subtraction
print("difference =", num1-num2)
#multiply
print("multiply =", num1*num2)
#divide
print("divide =", num1/num2)

enter a number 8
enter a number 2

sum = 10
difference = 6
multiply = 16
divide = 4.0

In [31]:
#ANS-9  program for logical operator
# AND
height = int(input("enter your height "))
if( height >= 5 and 10 >= height):
   print(" you are eligible for this ride")
else:
    print("you are not eligible for this ride")

enter your height  4

you are not eligible for this ride

In [38]:
#OR
age = int(input("enter your age"))
has_license = True
if age >= 16 or has_license :
    print("eligible for driving")
else:
  print("not eligible for driving")

enter your age 5

eligible for driving

In [2]:
# NOT
is_sunny = False
if not is_sunny:
    print("it is not sunny today. take an umbrella")
else:
    print("it is sunny today. enjoy")

it is not sunny today. take an umbrella

#ANS-9
a = input("enter a  no.")
print("as integer", int(a))
print("as float", float(a))
print("as boolean", bool(int(a)))

In [5]:
# ANS-10
list_s = ["1","2","3"]
list_int = [int(x) for x in list_s]
print("converted to integers:", list_int)

converted to integers: [1, 2, 3]

In [8]:
#ANS-11
num = int(input("enter a no."))
if num>0 :
    print("positive")
elif num<0 :
    print("negative")
else:
    print("zero")

enter a no. -9

negative

In [9]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
# ANS-13
total=0
for i in range (2,51,2):
    total += i 
print("sum of even np. from 1 to 50 is:",total)

sum of even np. from 1 to 50 is: 650

In [24]:
#ANS-14
text = input("enter a string")
reversed_text =""
i = len(text) - 1

 while i >= 0:
     reversed_text += text[i]
     i -= 1
print("reversed string",reversed_text)

IndentationError: unexpected indent (332112263.py, line 6)

In [18]:
# ANS - 15
num = int(input("enter a no."))
factorial = 1
i = 1
while i <= num :
    factorial *=i
    i += 1
    print("factorial", factorial)

enter a no. 8

factorial 1
factorial 2
factorial 6
factorial 24
factorial 120
factorial 720
factorial 5040
factorial 40320