Q-1>>What are data structures, and why are they important?

Ans>>>>A data structure is a way of organizing, storing, and managing data so that it can be used efficiently.

Q_2>>> Explain the difference between mutable and immutable data types with examples?

Ans->>>A mutable data type is a type whose value can be changed or modified after the object is created, without creating a new object in memory.
 Example: List, Dictionary, Set


 An immutable data type is a type whose value cannot be changed after the object is created. If you try to modify it, a new object is created in memory.
Example: String, Tuple, int, float

Q-3>>>>What are the main differences between lists and tuples in Python?

ANS>>>>A list in Python is a mutable, ordered collection of elements that can store different data types.

A tuple in Python is an immutable, ordered collection of elements that can also store different data types.

Q-4>>>>Describe how dictionaries store data?

Ans->>>A dictionary in Python stores data in the form of key–value pairs.


student
 {
    "name": "Anshu",
    "age": 21,
    "course": "BCA"
}

Q-5>>>>Why might you use a set instead of a list in Python?

Ans>>>A set in Python is an unordered collection of unique elements. We use a set instead of a list when we want to avoid duplicates, perform faster membership testing, and carry out mathematical operations like union, intersection, and difference. Unlike lists, sets automatically remove duplicate values and provide faster lookups.

Q_6>>>>What is a string in Python, and how is it different from a list?

ANS->>>Strings are immutable, meaning once created, they cannot be changed.

Lists are mutable, so their elements can be added, removed, or modified.

Q-7>>How do tuples ensure data integrity in Python?

ANS>>>Tuples are immutable, meaning their elements cannot be changed once created. This ensures that the stored data remains constant and cannot be accidentally modified, thus maintaining data integrity.

Q-8>>>What is a hash table, and how does it relate to dictionaries in Python?

Ans->>>A hash table is a data structure that stores data in key–value pairs using a hash function to map keys to specific memory locations.
 a dictionary is implemented using a hash table, which allows for fast lookups, insertions, and deletions.

Q-9>>>Can lists contain different data types in Python?

Ans->>yes . Lists in Python can hold elements of different data types at the same time

Q-10>>>Explain why strings are immutable in Python?

Ans>>Strings are immutable because each modification creates a new string object rather than changing the existing one.

Q-11>>What advantages do dictionaries offer over lists for certain tasks?

Ans>>>Dictionaries are better than lists when:

You need fast lookups by a unique key.

You want to store key–value pairs.

Data should be retrieved by meaningful keys rather than numeric indexes.

Q-12>>>Describe a scenario where using a tuple would be preferable over a list.

ANS->>When storing fixed data that should not change, such as:

Coordinates (x, y)

Days of the week

Database records (ID, Name, Age)

Q-13>>>How do sets handle duplicate values in Python?

Ans->>Sets automatically remove duplicate values.
s = {1, 2, 2, 3}

print(s)   # {1, 2, 3}

Q-14>>How does the “in” keyword work differently for lists and dictionaries?

Ans>>.In lists, "in" checks if a value exists in the list.

In dictionaries, "in" checks if a key exists, not a value.

Q-15>>Can you modify the elements of a tuple? Explain why or why not.

ANS>>No . Tuples are immutable, meaning their elements cannot be changed after creation. Attempting to modify will raise an error.

Q-16>>What is a nested dictionary, and give an example of its use case.

Ans>>A nested dictionary is a dictionary inside another dictionary.

students = {
    "101": {"name": "Alice", "age": 20},
    "102": {"name": "Bob", "age": 22}
}

Q-17>>>Describe the time complexity of accessing elements in a dictionary.

Ans->>Average case: O(1) (constant time) using hashing.

Worst case: O(n) (if many keys hash to the same value, causing collisions).

Q-18>>>In what situations are lists preferred over dictionaries?

Ans>>Use lists when:

Data is ordered and position (index) matters.

You don’t need key–value pairs.

You want to allow duplicates.

Q-19>>Why are dictionaries considered unordered, and how does that affect data retrieval?
ANS>>they preserve insertion order, but retrieval is still based on keys, not index.
 This means we cannot access elements by position like in a list.

Q-20>>>Explain the difference between a list and a dictionary in terms of data retrieval.
Ans>>List: Data is retrieved using indexes (numeric positions).
 Example: my_list[0]

Dictionary: Data is retrieved using keys.
 Example: my_dict["name"]

Q-

PRACTICAL QUESTIONS

In [1]:
#  Q-1>>Write a code to create a string with your name and print it.
name = "Anshu"
print(name)

Anshu

In [2]:
#Q-2>>>Write a code to find the length of the string "Hello World".
s = "Hello World"
length = len(s)
print(length)

11

In [3]:
#Q-3>>>Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])   # 'Pyt'

Pyt

In [4]:
#Q->>Write a code to convert the string "hello" to uppercase
text = "hello"
print(text.upper())

HELLO

In [5]:
#Q-5>>Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [6]:
#Q_6>>>Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]

print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#Q-7>>>Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [8]:
#Q-8>>>Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list =[1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [9]:
#Q-9>>> Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])   # 'b'

b

In [11]:
#Q-10>>Write a code to reverse the list [10, 20, 30, 40, 50].
my_list=[10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [12]:
#Q-11>>>Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [13]:
#Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
#Q-13>>Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [15]:
#Q-14>>Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [16]:
#Q-15>>Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

In [17]:
#Q_16>>Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [18]:
#Q_17>>Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [19]:
#Q_18>>Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [20]:
#Q_19>>Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))   # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [21]:
#Q_20>>Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))   # {2, 3}

{2, 3}

In [22]:
#Q-21>>Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [23]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
#Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [25]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [26]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [27]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4]
my_tuple = (1, 2, 3, 4)
my_dict = {"name": "Alice", "age": 25}

In [28]:
#Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[7, 10, 17, 33, 73]

In [29]:
#Q-Q28. Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "orange", "grape", "kiwi"]
print(my_list[2])

orange

In [30]:
#Q29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [32]:
#Q-30>Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "orange", "apple", "banana"]
my_set = set(my_list)
print(my_set)

{'orange', 'apple', 'banana'}